.card{
  width: 380px;
  	margin: 4em auto;
  	padding: 3em 2em 2em 2em;
  	border: 1px solid;
}


.button{

  display:flex;
  justify-content: space-between;
}

.CardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
