
.cards{

  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.card-1{
width: 300px;
margin:auto;
padding:20px;

}
.card-main{
  width:90%;
  margin:auto;


}
.card-2{
  width:300px;
  margin:auto;
  padding:20px;


}

.card-3{
  width:300px;
  margin:auto;
  padding:20px;


}

.Logout{
  display: flex;
  flex-direction: row-reverse;
  margin:auto;
  margin-top: 50px;

}

@media screen and (max-width: 768px){
  .card-main{
    width:90%;
    margin:auto;
    display: flex;
    flex-direction: column;


  }

  .cards{

    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-between;
  }


}
